body {
	background-color: black;
}

.main {
	background-color: white;
	margin-top: 110px;
	
	min-width: 1200px;
	height: 500px;
	position: relative;
	z-index: 1;
}

.ryu {
	float: left;
	width: 659px;
	height: 494px;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	width: 659px;
	height: 494px;
}

.ryu-ready, .ryu-throwing {
	display: none;
}

.ryu-still {
	background-image: url('../images/ryu-standing-still.png');
}

.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}

.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
	display:none;
	background-image: url('../images/ryu-cool.gif');
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool, .evil-hadouken {
	background-repeat: no-repeat;
}

.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	position: absolute;
	float: left;
	top: 167px;
	left: 520px;
	z-index: 10;
}

.evil-hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	position: absolute;
	float: right;
	top: 167px;
	right: 520px;
	z-index: 10;
}

.hulk-ryu {
	-webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
    width: 659px;
	height: 494px;
	float:right;
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-ms-transform:scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
}

